
jobs/IST_forecast/output/covmat
jobs/IST_NL/output/covmat
jobs/PyCCL_forecast/output/covmat
jobs/SSC_CMBX/output/covmat
jobs/SSC_comparison/output/covmat
jobs/SSC_comparison_variable_ellmax/output/covmat
jobs/SSC_comparison_variable_Rl/output/covmat
jobs/SPV3/output/covmat

*.fits
**/.DS_Store
